<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local">
        <property name="LOG_PATH" value="./logs"/>
        <property name="FILE_NAME" value="api"/>

        <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${FILE_NAME}.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${FILE_NAME}_%d{yyyy-mm-dd}.%i.log</FileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>100MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>180</maxHistory>
            </rollingPolicy>
            <filter class="kr.co.mustit.logging.CustomFilter">
                <levels>INFO|TRACE|DEBUG|WARN</levels>
            </filter>
        </appender>

        <appender name="JSON_FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${FILE_NAME}_error.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${FILE_NAME}_%d{yyyy-mm-dd}_error.%i.log</FileNamePattern>
                <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                    <maxFileSize>100MB</maxFileSize>
                </timeBasedFileNamingAndTriggeringPolicy>
                <maxHistory>180</maxHistory>
            </rollingPolicy>
            <filter class="ch.qos.logback.classic.filter.LevelFilter">
                <level>ERROR</level>
                <onMatch>ACCEPT</onMatch>
                <onMismatch>DENY</onMismatch>
            </filter>
        </appender>

    </springProfile>

    <root level="info" additivity="false">
        <springProfile name="local">
            <appender-ref ref="JSON_FILE"/>
            <appender-ref ref="JSON_FILE_ERROR"/>
        </springProfile>
    </root>
</configuration>